.result-item {
  border: 1px solid rgb(227,227,227);
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  height: 141px;
  &__wrapper {
    display: flex;
  }
  &__img {
    min-width: 94px;
    width: 94px;
    height: 141px;
  }
  &__details {
    padding: 20px 10px;
  }
  &__title-wrapper {
    margin-bottom: 10px;
  }
  &__title {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
  }
  &__release-date {
    white-space: nowrap;
    color: #999;
  }
  &__overview {
    font-size: 14px;
  }
}
