<div class="footer">
  <div class="container">
    <nav class="nav">
      <div class="join">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Tmdb.new.logo.svg/1280px-Tmdb.new.logo.svg.png" alt="TMDB">
        <a href="#" class="join__link">Join the community</a>
      </div>
      <div class="nav-block">
        <h3 class="nav-block__header">THE BASICS</h3>
        <ul class="nav-block__list">
          <li class="nav-block__item">About TMDB</li>
          <li class="nav-block__item">Contact Us</li>
          <li class="nav-block__item">Support Forums</li>
          <li class="nav-block__item">API</li>
          <li class="nav-block__item">System Status</li>
        </ul>
      </div>
      <div class="nav-block">
        <h3 class="nav-block__header">GET INVOLVED</h3>
        <ul class="nav-block__list">
          <li class="nav-block__item">Contribution Bible</li>
          <li class="nav-block__item">3rd Party Applications</li>
          <li class="nav-block__item">Add New Movie</li>
          <li class="nav-block__item">Add New TV Show</li>
        </ul>
      </div>
      <div class="nav-block">
        <h3 class="nav-block__header">COMMUNITY</h3>
        <ul class="nav-block__list">
          <li class="nav-block__item">Guidelines</li>
          <li class="nav-block__item">Discussions</li>
          <li class="nav-block__item">Leaderboard</li>
          <li class="nav-block__item">Twitter</li>
        </ul>
      </div>
      <div class="nav-block">
        <h3 class="nav-block__header">LEGAL</h3>
        <ul class="nav-block__list">
          <li class="nav-block__item">Terms of Use</li>
          <li class="nav-block__item">API Terms of Use</li>
          <li class="nav-block__item">Privacy Policy</li>
        </ul>
      </div>
    </nav>
  </div>
</div>
