<div class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="nav__wrapper">
        <a href="#" class="logo">
          <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="The Movie Database (TMDB)">
        </a>
        <ul class="menu">
          <li class="menu__item">Movies</li>
          <li class="menu__item">TV Shows</li>
          <li class="menu__item">People</li>
          <li class="menu__item">More</li>
        </ul>
      </nav>
      <ul class="optional-buttons">
        <li class="add-button">+</li>
        <li class="language">EN</li>
        <li class="login">Login</li>
        <li class="join">Join TMDB</li>
        <li class="search-button">Search</li>
      </ul>
    </div>
  </div>
</div>
