<div class="container">
  <div class="search">
    <h2 class="search__header">Welcome.</h2>
    <p class="search__subtitle">Millions of movies, TV shows and people to discover. Explore now.</p>
    <form class="search__form" (submit)="onSubmit($event)">
      <input
        class="search__input"
        name="query"
        type="text"
        placeholder="Search for a movie, tv show, person..."
      />
      <input
        type="submit"
        class="search__btn"
        value="Search"
      />
    </form>
  </div>
</div>
