<div class="movie-info">
  <div class="movie-info__wrapper">
    <div class="container">
      <div class="movie-info__inner-wrapper">
        <div class="movie-info__poster-wrapper">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg" alt="" class="movie-info__poster">
        </div>
        <div class="movie-info__right-wrapper">
          <div class="movie-info__title-wrapper">
            <h2 class="movie-info__title">
              <a href="#" class="movie-info__title-link">Avengers: Infinity War</a>
              <span class="movie-info__year">(2018)</span>
            </h2>
            <div class="movie-info__facts">
              <span class="movie-info__release">05/03/2018 (UA)</span>
              <span class="movie-info__genres">
            <a href="#" class="movie-info__genre">Adventure</a>
            <a href="#" class="movie-info__genre">Action</a>
            <a href="#" class="movie-info__genre">Science Fiction</a>
          </span>
              <span class="movie-info__runtime">2h 29m</span>
            </div>
          </div>
          <div class="movie-info__descr">
            <div class="movie-info__tagline">An entire universe. Once and for all.</div>
            <h3 class="movie-info__overview-title">Overview</h3>
            <p class="movie-info__overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</p>
          </div>
          <ul class="movie-info__people">
            <li class="movie-info__person">
              <div class="movie-info__person-name">Joe Russo</div>
              <div class="movie-info__person-job">Director</div>
            </li>
            <li class="movie-info__person">
              <div class="movie-info__person-name">Joe Russo</div>
              <div class="movie-info__person-job">Director</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="movie-info__top-billed-wrapper">
      <div class="movie-info__cast-container">
        <h3 class="movie-info__cast-title">Top Billed Cast</h3>
        <div class="movie-info__actor-card">
          <img src="https://www.themoviedb.org/t/p/w138_and_h175_face/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg" alt="" class="movie-info__actor-image">
          <div class="movie-info__actor-name">Robert Downey Jr.</div>
          <div class="movie-info__actor-character">Tony Stark / Iron Man</div>
        </div>
        <div class="movie-info__actor-card">
          <img src="https://www.themoviedb.org/t/p/w138_and_h175_face/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg" alt="" class="movie-info__actor-image">
          <div class="movie-info__actor-name">Robert Downey Jr.</div>
          <div class="movie-info__actor-character">Tony Stark / Iron Man</div>
        </div>
        <div class="movie-info__actor-card">
          <img src="https://www.themoviedb.org/t/p/w138_and_h175_face/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg" alt="" class="movie-info__actor-image">
          <div class="movie-info__actor-name">Robert Downey Jr.</div>
          <div class="movie-info__actor-character">Tony Stark / Iron Man</div>
        </div>
        <div class="movie-info__actor-card">
          <img src="https://www.themoviedb.org/t/p/w138_and_h175_face/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg" alt="" class="movie-info__actor-image">
          <div class="movie-info__actor-name">Robert Downey Jr.</div>
          <div class="movie-info__actor-character">Tony Stark / Iron Man</div>
        </div>
      </div>
      <ul class="movie-info__more-facts">
        <li class="movie-info__more-fact">
          <div class="more-info__fact-subtitle">Status</div>
          <div class="more-info__fact-info">Released</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="more-info__fact-subtitle">Original Language</div>
          <div class="more-info__fact-info">English</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="more-info__fact-subtitle">Budget</div>
          <div class="more-info__fact-info">$300,000,000.00</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="more-info__fact-subtitle">Revenue</div>
          <div class="more-info__fact-info">$2,046,239,637.00</div>
        </li>
      </ul>
    </div>
  </div>

</div>
