{{log('rendered')}}
<div class="movie-info">
  <div class="movie-info__bg-wrapper"
       [ngStyle]="{'background-image': 'url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces'+movieInfo.backdrop_path+')'
       }">
    <div class="movie-info__wrapper">
      <div class="container">
        <div class="movie-info__inner-wrapper">
          <div class="movie-info__poster-wrapper">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movieInfo.poster_path}}" alt="" class="movie-info__poster">
          </div>
          <div class="movie-info__right-wrapper">
            <div class="movie-info__title-wrapper">
              <h2 class="movie-info__title">
                <a href="#" class="movie-info__title-link">{{movieInfo.original_title}}</a>
                <span class="movie-info__year"> ({{movieInfo.release_date | date:'y'}})</span>
              </h2>
              <div class="movie-info__facts">
                <span class="movie-info__release">{{movieInfo.release_date | date:'M/d/y'}}</span>
                <span class="movie-info__genres">
            <a
              href="#"
              class="movie-info__genre"
              *ngFor="let genre of movieInfo.genres"
            >{{genre.name}}</a>
          </span>
                <span class="movie-info__runtime">{{movieInfo.runtime | transformTime}}</span>
              </div>
            </div>
            <div class="movie-info__descr">
              <div class="movie-info__tagline">{{movieInfo.tagline}}</div>
              <h3 class="movie-info__overview-title">Overview</h3>
              <p class="movie-info__overview">{{movieInfo.overview}}</p>
            </div>
            <ul class="movie-info__people">
<!--              <li-->
<!--                class="movie-info__person"-->
<!--              >-->
<!--                <div>-->
<!--                  <div  class="movie-info__person-name">{{dir.original_name}}</div>-->
<!--                  <div  class="movie-info__person-job">{{dir.job}}</div>-->
<!--                </div>-->
<!--              </li>-->
              <li class="movie-info__person">
                <div class="movie-info__person-name">Joe Russo</div>
                <div class="movie-info__person-job">Director</div>
              </li>
              <li class="movie-info__person">
                <div class="movie-info__person-name">Joe Russo</div>
                <div class="movie-info__person-job">Director</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="movie-info__top-billed-wrapper">
      <div class="movie-info__cast-container">
        <h3 class="movie-info__cast-title">Top Billed Cast</h3>
        <ul class="movie-info__cast-list">
          <li
            class="movie-info__actor-card"
            *ngFor="let actor of movieInfo.credits.cast.slice(0,9)"
          >
            <div class="movie-info__actor-img-wrapper">
              <img
                *ngIf="actor.profile_path; else templateActor"
                src="https://www.themoviedb.org/t/p/w138_and_h175_face{{actor.profile_path}}"
                alt=""
                class="movie-info__actor-image"
              >
              <ng-template #templateActor>
                <img src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-grey-d8fe957375e70239d6abdd549fd7568c89281b2179b5f4470e2e12895792dfa5.svg" alt="" class="movie-info__actor-image">
              </ng-template>
            </div>
            <div class="movie-info__actor-name">{{actor.original_name}}</div>
            <div class="movie-info__actor-character">{{actor.character}}</div>
          </li>
        </ul>
      </div>

      <ul class="movie-info__more-facts">
        <li class="movie-info__more-fact">
          <div class="movie-info__fact-subtitle">Status</div>
          <div class="movie-info__fact-info">{{movieInfo.status}}</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="movie-info__fact-subtitle">Original Language</div>
          <div class="movie-info__fact-info">{{movieInfo.original_language}}</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="movie-info__fact-subtitle">Budget</div>
          <div class="movie-info__fact-info">{{movieInfo.budget | currency }}</div>
        </li>
        <li class="movie-info__more-fact">
          <div class="movie-info__fact-subtitle">Revenue</div>
          <div class="movie-info__fact-info">{{movieInfo.revenue | currency }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
